name: flutter_secure_storage_x_web
description: Web implementation of the flutter_secure_storage_x plugin.
repository: https://github.com/koji-1009/flutter_secure_storage/tree/main/flutter_secure_storage_x_web
version: 2.2.0

resolution: workspace

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.35.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage_x_platform_interface: ^1.5.0
  flutter_web_plugins:
    sdk: flutter
  web: ^1.0.0

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      web:
        pluginClass: FlutterSecureStorageWeb
        fileName: flutter_secure_storage_x_web.dart
