name: flutter_secure_storage_x_windows_example
description: Demonstrates how to use the flutter_secure_storage_x_windows plugin.
publish_to: 'none'

resolution: workspace

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.35.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_secure_storage_x_platform_interface:
  flutter_secure_storage_x_windows:
    path: ../
  path: ^1.8.0
  path_provider: ^2.0.0

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
