name: flutter_secure_storage_x
description: flutter_secure_storage_x provides API to store data in secure storage. Keychain is used in iOS, KeyStore based solution is used in Android.
repository: https://github.com/koji-1009/flutter_secure_storage/tree/main/flutter_secure_storage_x
version: 12.1.4

resolution: workspace

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.35.0"

flutter:
  plugin:
    platforms:
      android:
        package: com.koji_1009.app.fluttersecurestorage
        pluginClass: FlutterSecureStoragePlugin
      ios:
        pluginClass: FlutterSecureStoragePlugin
      linux:
        default_package: flutter_secure_storage_x_linux
      macos:
        default_package: flutter_secure_storage_x_macos
      web:
        default_package: flutter_secure_storage_x_web
      windows:
        default_package: flutter_secure_storage_x_windows

dependencies:
  flutter:
    sdk: flutter

  flutter_secure_storage_x_linux: ^1.5.1
  flutter_secure_storage_x_macos: ^3.5.1
  flutter_secure_storage_x_platform_interface: ^1.5.0
  flutter_secure_storage_x_web: ^2.2.1
  flutter_secure_storage_x_windows: ^3.4.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0 

# We need to manually declare supported platforms, because pub.dev won't find them.
platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:
