name: code analysis & formatting

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  analysis_and_formatting:
    name: Analysis & Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: "stable"
          cache: true
      - uses: bluefireteam/melos-action@8cca19067d5bc4021b5a9f4656955d8b386583bf # v3.4.0
      - run: melos analyze
      - run: melos format --output none --set-exit-if-changed
